{% extends "Home/index.html.twig" %}
{% block title %} {{ parent() }} - création de l'équipe{% endblock %}
{% block main %}
    Choisissez l'équipe à supprimer.
    {{ form_start(formTeam) }}

    {{ form_row(formTeam.teamName) }}

    <button type="submit" class="buttonArticle">Supprimer</button>
    {{ form_end(formTeam) }}
{% endblock %}