{% extends "Home/index.html.twig" %}
{% block title %} {{ parent() }} - équipes{% endblock %}
{% block main %}
    <ul>
        {% for team in teams %}
            <li>
                {{ team.teamName|upper }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}