{% extends "Home/index.html.twig" %}
{% block title %} {{ parent() }} - équipes{% endblock %}
{% block main %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">nom de l'équipe</th>
        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.teamName }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}