{% extends "Home/index.html.twig" %}
{% block title %} {{ parent() }} - liste des projets{% endblock %}
{% block main %}
    <div style="text-align: center">
        <h3>Liste des projets</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Nom du projet</th>
                <th scope="col">ID</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td><span class="badge badge-primary badge-pill">{{ project.projectId }}</span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}